---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Freelancer & Estudiante de IT",
    company: "Freelance & UTU",
    description:
      "Desarrollador web freelance, creando aplicaciones responsivas y optimizadas. Estudiante de Informática en UTU, donde amplío mis conocimientos en desarrollo de software, lógica de programación y tecnologías como HTML, CSS, JavaScript, React y Next.js.",
   
  },
  {
    date: "Agosto 2024 - Noviembre 2024",
    title: "Desarrollador Web E-commerce",
    company: "QuieroYa Uy",
    description:
      "Desarrollador web en QuieroYa Uy, donde trabajé en la creación de una plataforma de e-commerce para la venta de productos de tecnología. Utilicé tecnologías como Wordpress, Hostinger, Woocomerce, HTML, CSS y PHP.",
    link: "https://www.quieroya.com.uy/",
  },
  {
    date: "Agosto 2023 - Actualidad",
    title: "Founder & Developer",
    company: "EntreFronterasRP",
    description:
      "Fundador y desarrollador de EntreFronterasRP, un servidor de Roleplay en español para GTA V. Creamos la plataforma desde cero, utilizando tecnologías como FiveM, Lua, HTML, CSS y JavaScript. Actualmente contamos con una comunidad de discord de mas de 3000 miembros.",
    link: "https://discord.gg/entrefronterasrp",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>