<header class="flex justify-center items-center py-8 w-full ">
 <nav class="flex flex-row gap-x-10 opacity-100 justify-center ">
    <a href="/">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
 </nav>
</header>
