---
import NextJS from "../icons/NextJS.astro";
import Tailwind from "../icons/Tailwind.astro";
import Wordpress from "../icons/Wordpress.astro";
import Lua from "../icons/Lua.astro";
import MySQL from "../icons/MySQL.astro";
import GitHub from "../icons/GitHub.astro";
import Html5 from "../icons/Html5.astro";
import JavaScript from "../icons/JavaScript.astro";
import Css from "../icons/Css.astro";
import AstroIcon from "../icons/AstroIcon.astro";
---

<div>
    <div class="grid grid-cols-2 sm:grid-cols-5 gap-4 mb-10">
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <Html5 class="w-8 h-8 mb-2"/>HTML
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <Css class="w-8 h-8 mb-2"/>CSS
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <JavaScript class="w-8 h-8 mb-2"/>JavaScript
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <Tailwind class="w-8 h-8 mb-2"/>Tailwind
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <NextJS class="w-8 h-8 mb-2"/>NextJS
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <MySQL class="w-8 h-8 mb-2"/>MySQL
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <Wordpress class="w-8 h-8 mb-2"/>Wordpress
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <Lua class="w-8 h-8 mb-2"/>Lua
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <GitHub class="w-8 h-8 mb-2"/>GitHub
        </span>
        <span class="flex flex-col items-center p-2 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 rounded-lg text-center shadow-md">
            <AstroIcon class="w-8 h-8 mb-2"/>Astro
        </span>
    </div>
</div>